header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.subject-btn {
  background-color: #2196F3;
  color: white;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 8px;
}

.subject-btn:hover {
  background-color: #0b7dda;
}
